html {
  font-family: sans-serif;
  font-size: 10pt;
  color: #f6edd6;
}

body {
  background-color: #222;
}

a:link {
  color: #0098ff;
}

a:visited {
  color: #0098ff;
}

a:hover {
  color: #00fff0;
}

a:active {
  color: #ffb41d;
}

h2 {
  color: #e3a85b;
}

h3 {
  color: #b4c6f7;
}

h4 {
  color: #9fdd92;
  text-decoration: underline;
  padding-bottom: 0;
}

h5 {
  color: #b4c6f7;
  font-size: smaller;
  text-decoration: none;
  padding: 0;
}

li {
  list-style-type: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

small {
  color: #666;
}
